<section class="dashboard-main">
  <h1> <%= @user_facade.first_name %>'s Dashboard </h1>

  <%= button_to 'Connect to Github', github_login_path %>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @user_facade.first_name  %> <%= @user_facade.last_name %> </li>
    <li> <%= @user_facade.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% unless @user_facade.token.nil? %>
    <section class="repos">
      <h3>User Repositories</h3>
      <% x = 0 %>
        <% @user_facade.repos.each_with_index do |repo, index| %>
          <ul>
            <section id = "repo-<%=index%>" >
              <li><%= link_to repo.name, repo.html_url %></li>
              <% x + 1 %>
            </section>
          </ul>
        <% end %>
    </section>
  <% end %>
</section>
