<section class="dashboard-main">
  <h1> <%= @user_facade.first_name %>'s Dashboard </h1>
  <% if @user_facade.active? %>
    <p>Status: Active</p>
  <% else %>
    <p>This account has not yet been activated. Please check your email.</p>
    <%= link_to 'Resend activation email', activation_new_path(@user_facade) %>
  <% end %>
  <% if @user_facade.token.nil? %>
    <%= button_to 'Connect to GitHub', github_login_path, class: "btn btn-outline mb1 aqua" %>
  <% else %>
    <br>
    <%= link_to 'Send Invite', '/invite', class:"btn btn-outline mb1 aqua" %>
  <% end %>
  <br>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @user_facade.first_name  %> <%= @user_facade.last_name %> </li>
    <li> <%= @user_facade.email%> </li>
  </ul>
  <section class='bookmarks'>
    <h1>Bookmarked Segments</h1>
      <% @user_facade.tutorial_user_video_hash.each do |tutorial_title, user_video_array| %>
        <ul>
          <li class='tutorial-bookmarks'><%= tutorial_title  %></li>
            <% user_video_array.each do |user_video| %>
            <ul>
              <li class='video-bookmarks' id='video-<%= user_video.video_id %>'><%= user_video.video.title %></li>
            </ul>
            <% end %>
        </ul>
      <% end %>
  </section>
  <% unless @user_facade.token.nil? %>
    <section class="github_info">
      <h1>GitHub Info</h1>
      <p>GitHub Username: <%= @user_facade.username %> </p>
    </section>
    <section class="repos">
      <h3>User Repositories</h3>
      <% @user_facade.repos.each_with_index do |repo, index| %>
        <ul>
          <li id = "repo-<%=index%>">
            <%= link_to repo.name, repo.html_url %>
          </li>
        </ul>
      <% end %>
    </section>
    <section class="followers">
      <h3>Followers</h3>
        <% @user_facade.followers.each_with_index do |follower, index| %>
          <ul>
            <section id = "follower-<%=index%>" >
              <li>
                <%= link_to follower.handle, follower.html_url %>
                <% if follower.in_db && follower.not_friend?(@user_facade.id) %>
                  <%= button_to 'Add Friend', friendships_path(friend_id: follower.in_db.id), method: :post %>
                <% end %>
              </li>
            </section>
          </ul>
        <% end %>
    </section>
    <section class="followings">
      <h3>Following</h3>
        <% @user_facade.followings.each_with_index do |following, index| %>
          <ul>
            <section id = "following-<%=index%>" >
              <li>
                <%= link_to following.handle, following.html_url %>
                <% if following.in_db && following.not_friend?(@user_facade.id) %>
                  <%= button_to 'Add Friend', friendships_path(friend_id: following.in_db.id), method: :post %>
                <% end %>
              </li>
            </section>
          </ul>
        <% end %>
    </section>
    <section class='friends'>
      <h3>Friends</h3>
      <% @user_facade.friendships.each do |friendship| %>
        <ul>
          <li> <%= friendship.friend.first_name %>  <%= friendship.friend.last_name %> (<%= friendship.friend.username  %>)  </li>
        </ul>
      <% end  %>
    </section>
  <% end %>
</section>
